[submodule "filabel"]
	path = filabel
	url = git@github.com:martilad/filabel.git
[submodule "pandas"]
	path = pandas
	url = git@github.com:martilad/pandas.git
[submodule "beeclust"]
	path = beeclust
	url = git@github.com:martilad/beeclust.git
[submodule "worldmor"]
	path = worldmor
	url = git@github.com:martilad/worldmor.git
